*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
key.properties
*.jks
*.keystore
keystore/
/.gradle*/
/.kotlin/
/.jdk-21/
/.jdk-21.zip
/.tmp-*
/.tmp-aar/
/.tmp-aar2/
/META-INF/
/AndroidManifest.xml
/classes.jar
/R.txt
/proguard.txt
/public.txt
/res/
/temp_baseline.txt
/.idea/codeStyles/
/.idea/kotlinc.xml
/.idea/markdown.xml
